<div class="portlet box blue-steel">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bar-chart-o"></i><%= name %>
        </div>
        <div class="tools">
            <a href="" class="collapse" data-original-title="" title=""></a>
            <!--<a href="" data-toggle="modal" class="config" data-original-title="" title=""></a>-->
            <!--<a href="" class="reload" data-original-title="" title=""></a>-->
            <a href="" class="fullscreen" data-original-title="" title=""></a>
            <a href="" class="remove" data-original-title="" title=""></a>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm btn-default dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true">
                    <%= filterName %> <i class="fa fa-angle-down"></i>
                </a>

                <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                    <label><input class="chart-options" type="checkbox" <%= filter.one.check
                        %>/> <%= filter.one.name %></label>
                    <label><input class="chart-options" type="checkbox" <%= filter.two.check
                        %>/> <%= filter.two.name %></label>
                    <label><input class="chart-options" type="checkbox" <%= filter.three.check
                        %>/> <%= filter.three.name %></label>
                    <label><input class="chart-options" type="checkbox" <%= filter.four.check
                        %>/> <%= filter.four.name %></label>
                    <label><input class="chart-options" type="checkbox" <%= filter.five.check
                        %>/> <%= filter.five.name %></label>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="scroller" data-always-visible="1" data-rail-visible="0">
            <div id="<%= id %>" class="chartArea">
            </div>
        </div>
    </div>
</div>
